<h3 align='center'>Log In</h3>
<%= form_with scope: :form_account, url: sessions_path, local: true do |f| %>
  <form class='form-menu'>
    <div align="center">
      <table>
      <tbody>
        <tr>
          <td style="border: 0">
            <p>Nickname: </p>
          </td>
          <td style="border: 0">
            <%= f.text_field :nick, value: "" %>
          </td>
        </tr>
        <tr>
          <td style="border: 0">
            <p>Password: </p>
          </td>
          <td style="border: 0">
            <%= f.password_field :passwd, value: "" %>
          </td>
        </tr>
        <tr>
          <td style="border: 0" colspan="2">
            <div align="center">
              <%= f.submit :submit, value: "Submit" %>
            </div>
          </td>
        </tr>
      </tbody>
    </div>
  </form>
<% end %>
