<h3 align='center'>Valera Online</h3>

<form class='form-game-stats'>
  <h4>Параметры Валеры</h4>
  Здоровье
  <progress class='form-game-progress-stats' max="100" value="25"></progress>
  Усталость
  <progress class='form-game-progress-stats' max="100" value="25"></progress>
  Мана
  <progress class='form-game-progress-stats' max="100" value="25"></progress>
  Счастье
  <progress class='form-game-progress-stats' max="100" value="25"></progress>
  Деньги
  <progress class='form-game-progress-stats' max="100" value="25"></progress>
</form>

<form class='form-game-buttons-action'>
  <h4>Действия</h4>
  <button class='form-game-button'>Пойти на работу</button>
  <button class='form-game-button'>Бахнуть пивка и почилить на диване</button>
  <button class='form-game-button'>Сгонять в клубарэ</button>
  <button class='form-game-button'>Поспать</button>
  <button class='form-game-button'>Прогуляться по чертаново</button>
</form>
<button class='game-button-exit'>Выход</button>
