<h3 align='center'>Balepa Online</h3>
<form class='form-menu'>
  <div align="center">
    <%= link_to :action => 'on_click_button_play' do %>
      <button class='form-menu-button'>Play</button>
    <% end %>
    </br>
    <%= link_to :action => 'on_click_button_login' do %>
      <button class='form-menu-button'>Log In</button>
    <% end %>
    </br>
    <%= link_to :action => 'on_click_button_signin' do %>
      <button class='form-menu-button'>Sign In</button>
    <% end %>
  </div>
</form>
