<h3 align='center'>Valera Online</h3>
<form class='form-menu'>
  <div align="center">
    <%= link_to :action => 'on_click_button_play' do %>
      <button class='form-menu-button'>Play</button>
    <% end %>
  </div>
  <button class='form-menu-button'>Профиль</button>
</form>
