<script language="javascript">
  function goToGame() {
    document.location.href= "/game"
  }
</script>

<div align="center">
  <div align="center" style="max-width: 1000px;">
    <%= form_with scope: :load_form, url: loads_path, local: true do |f| %>
      <table>
      <tbody>
        <tr>
          <td align="center" colspan="3">
            <%= f.select :saves_list, @save_names_list, :multiple=>false %>
          </td>
        </tr>
        <tr nowrap>
          <td align="center" colspan="3" nowrap>
            <%= f.submit :submit, value: "Load" %>
            <input type="button" value="Cancel" onClick="goToGame()">
          </td>
        </tr>
      </tbody>
    <% end %>
  </div>
</div>
