<h3 align='center'>Log In</h3>
<form class='form-menu'>
  <div align="center">
    <table>
    <tbody>
      <tr>
        <td style="border: 0">
          <p>Nickname: </p>
        </td>
        <td style="border: 0">
          <%= text_field :nick, value: "" %>
        </td>
      </tr>
      <tr>
        <td style="border: 0">
          <p>Password: </p>
        </td>
        <td style="border: 0">
          <%= text_field :passwd, value: "" %>
        </td>
      </tr>
      <tr>
        <td style="border: 0" colspan="2">
          <div align="center">
            <%= link_to do %>
              <button class='form-menu-button'>Log In</button>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>
  </div>
</form>
